<!DOCTYPE html>
<html lang="en">
<head>
    <nav class="navbar navbar-dark bg-dark mb-4">
<div class="container">

<span class="navbar-brand">Expense Tracker</span>

<div>
<span class="text-white me-3">
Welcome, {{ request.user.username }}
</span>

<a href="/add/" class="btn btn-success btn-sm">Add Expense</a>

<a href="/logout/" class="btn btn-danger btn-sm">Logout</a>
</div>

</div>
</nav>
    <meta charset="UTF-8">
    <title>My Expenses</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="container mt-5">

<h1 class="mb-4">My Expenses</h1>

<a href="/add/" class="btn btn-primary mb-3">Add Expense</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.title }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.date }}</td>
            <td>
                <a href="/edit/{{ expense.id }}/" class="btn btn-warning btn-sm">Edit</a>

                <a href="/delete/{{ expense.id }}/"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure you want to delete this expense?')">
                   Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Total Expense: ₹{{ total }}</h3>

<h3 class="mt-4 text-center">Expense Chart</h3>

<div class="d-flex justify-content-center">
    <div style="width:350px;">
        <canvas id="expenseChart"></canvas>
    </div>
</div>

<h3 class="mt-5 text-center">Monthly Expenses</h3>

<div class="d-flex justify-content-center">
    <div style="width:500px;">
        <canvas id="monthlyChart"></canvas>
    </div>
</div>

<!-- Pie Chart -->
<script>
const labels = {{ labels|safe }};
const data = {{ data|safe }};

const ctx = document.getElementById('expenseChart');

new Chart(ctx, {
    type: 'pie',
    data: {
        labels: labels,
        datasets: [{
            label: 'Expenses by Category',
            data: data
        }]
    }
});
</script>

<!-- Monthly Bar Chart -->
<script>
const monthLabels = ["Jan","Feb","Mar"];
const monthData = [200,500,300];

const ctx2 = document.getElementById('monthlyChart');

new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: monthLabels,
        datasets: [{
            label: 'Monthly Expenses',
            data: monthData
        }]
    }
});
</script>

</body>
</html>